{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro" style="margin-bottom: 15px;">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <figure>
    <a href="https://www.youracclaim.com/badges/143b1050-d513-4ccd-bad8-01c66cc55f62" target="_blank"><img class="cert-img" src="/assets/images/jsnad_cert.png" alt="OpenJS Certified Node.js Application Developer"></a>
    <a href="https://www.youracclaim.com/badges/b62cdd03-fa20-4aa4-a7cd-4375fb3d7da0" target="_blank"><img class="cert-img" src="/assets/images/jsnsd_cert.png" alt="OpenJS Certified Node.js Services Developer"></a>
  </figure>

  {% for publication in publications.papers %}
  <div class="item">
    {% if publication.link %}
      <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
    {% else %}
      <li>{{ publication.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
